<main class="overflow-auto bg-white bt b--black-10">
    <section class="w-100 ph5-ns">
        <h2 class="f4 b">{{ property?.name }}</h2>
        <ul class="list">
            <li *ngFor="let unit of units | paginate: { itemsPerPage: 10, currentPage: p }" class="bl bw2">
                <h3 class="f6 black-70 b">Unit #{{ unit.number }}</h3>
                <p class="f6">Floor: {{ unit.floor }}</p>
                <p class="f6">Monthly Rent: ${{ unit.rent }}</p>
                <p class="f6" *ngIf="unit.vacant">Vacancy: {{ unit.vacant | vacant }}</p>
            </li>
        </ul>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </section>
</main>